<!-- medjournal-->
<!-- [ 'beforeLineData', 'afterData', 'techProblemsData', 'testInspData', 'breakData']-->
<meta charset="utf-8">
<link rel="stylesheet" href="../../styles.css">
{{#each pages as |page|}}
    <table data-name="{{key page 'sheetName'}}">
        <thead>
        <tr class="h-500">
            <th colspan="20" class="big-header">{{page.name}} {{orgName}}</th>
        </tr>
        </thead>
        <tr style="height: 450px; border-style: solid">
            <th style="width: 80px">№ п/п</th>
            <th style="width: 180px; word-wrap: break-word">Дата и время осмотра</th>
            <th style="width: 200px; word-wrap: break-word">Тип осмотра</th>
            <th style="width: 300px; word-wrap: break-word">Место осмотра</th>
            <th style="width: 120px; word-wrap: break-word">Табельный номер</th>
            <th style="width: 200px; word-wrap: break-word">ФИО работника</th>
            <th style="width: 60px; word-wrap: break-word">Пол</th>
            <th style="width: 160px; word-wrap: break-word">Дата рождения</th>
            <th style="width: 100px; word-wrap: break-word">Жалобы</th>
            <th style="width: 140px; word-wrap: break-word">Осмотр</th>
            <th style="width: 100px; word-wrap: break-word">АД</th>
            <th style="width: 80px; word-wrap: break-word">ЧСС</th>
            <th style="width: 80px; word-wrap: break-word">t °C</th>
            <th style="width: 100px; word-wrap: break-word">Проба на наличие алкоголя</th>
            <th style="width: 100px; word-wrap: break-word">Заключение (Н или О)*</th>
            <th style="width: 130px; word-wrap: break-word">Результат</th>
            <th style="width: 500px; word-wrap: break-word">Комментарий</th>
            <th style="width: 320px; word-wrap: break-word">ФИО медицинского работника</th>
            <th style="width: 380px; word-wrap: break-word">Подпись медицинского работника</th>
            <th style="width: 380px; word-wrap: break-word">Подпись работника</th>
        </tr>
        {{#each page.[inspections] as |val|}}
            <tr style="height: 450px; border-style: solid;">
                <td >{{math @index '+' 1}}</td>
                <td>{{val.date}} - {{zeroIntHelper val.time.minutes}}:{{zeroIntHelper val.time.seconds}}</td>
                <td>{{val.type}}</td>
                <td>{{val.hostname}}</td>
                <td>{{val.number}}</td>
                <td>{{val.fio}}</td>
                <td>{{val.gender}}</td>
                <td>{{val.year}}</td>
                <td>{{val.complaints}}</td>
                <td>{{val.peculiarity}}</td>
                <td>{{val.pressure}}</td>
                <td>{{val.pulse}}</td>
                <td>{{val.temperature}}</td>
                <td>{{val.alcho}}</td>
                <td>{{val.conclusion}}</td>
                <td>{{val.allow}}</td>
                <td style="text-align: left; word-wrap: break-word;">{{val.comment}}</td>
                <td>{{val.fiomedic}}</td>
                <td>{{val.eds_code}}</td>
                {{#if val.graphicsignature}}
                    <td><img src="{{val.graphicsignature}}" alt="{{val.eds_driver}}" /></td>
                {{ else }}
                    <td>{{val.eds_driver}}</td>
                {{/if}}
            </tr>
        {{/each}}
        {{{summarize page}}}
        {{#if (isAfterBeforeSheet (key page 'sheetName'))}}
            <tr style="height: 500px">
                <td colspan="5" style="text-align: left; word-wrap: break-word; font-size: 10px;">*Н - при наличии признаков воздействия вредных и (или) опасных производственных факторов, состояний и заболеваний, препятствующих выполнению трудовых обязанностей, в том числе алкогольного, наркотического или иного токсического опьянения и остаточных явлений такого опьянения (с указанием этих признаков);
                </td>
            </tr>
            <tr style="height: 500px">
                <td colspan="5" style="text-align: left; word-wrap: break-word; font-size: 10px;">*О - при отсутствии признаков воздействия вредных и (или) опасных производственных факторов, состояний и заболеваний, препятствующих выполнению трудовых обязанностей, в том числе алкогольного, наркотического или иного токсического опьянения и остаточных явлений такого опьянения.
                </td>
            </tr>
        {{/if}}
    </table>
{{/each}}
<table data-name="Группы риска">
    <thead>
    <tr style="height: 300px">
        <th colspan="7" class="small-header">Группы риска по итогам проведения предрейсового/послерейсового медицинского осмотров {{orgName}}</th>
    </tr>
    </thead>
    <tr style="border-style: solid">
        <th style="width: 80px; word-wrap: break-word">№ п/п</th>
        <th style="width: 120px; word-wrap: break-word;">Табельный номер</th>
        <th style="width: 200px; word-wrap: break-word;">ФИО работника</th>
        <th style="width: 120px; word-wrap: break-word;">Количество осмотров</th>
        <th style="width: 120px; word-wrap: break-word;">Допусков</th>
        <th style="width: 120px; word-wrap: break-word;">Недопусков</th>
        <th style="width: 120px; word-wrap: break-word;">Процент недопусков</th>
    </tr>{{#each riskGroupsData as |val|}}
    <tr style="border-style: solid;">
        <td>{{math @index '+' 1}}</td>
        <td>{{val.number}}</td>
        <td>{{val.fio}}</td>
        <td>{{val.countInsp}}</td>
        <td>{{val.allow}}</td>
        <td>{{val.notAllow}}</td>
        <td>{{percentHelper val.percentNotAllow}}</td>
    </tr>
{{/each}}
</table>
<table data-name="Алкотестирование">
    <tr class="nowrap" style="border-style: solid;">
        <th style="width: 80px; word-wrap: break-word;">№ п/п</th>
        <th style="width: 180px; word-wrap: break-word">Дата осмотра</th>
        <th style="width: 200px; word-wrap: break-word">Тип осмотра</th>
        <th style="width: 200px; word-wrap: break-word;">ФИО работника</th>
        <th style="width: 120px; word-wrap: break-word;">Табельный номер</th>
        <th style="width: 100px; word-wrap: break-word">Наличие алкоголя</th>
    </tr>
    {{#each alchoTestData as |val|}}
        <tr>
            <td>{{math @index '+' 1}}</td>
            <td>{{val.date}}</td>
            <td>{{val.type}}</td>
            <td>{{val.fio}}</td>
            <td>{{val.number}}</td>
            <td>{{val.alcho}}</td>
        </tr>
    {{/each}}
</table>
<table data-name="Профилактический">
    <tr style="height: 450px; border-style: solid">
        <th style="width: 80px">№ п/п</th>
        <th style="width: 140px; word-wrap: break-word">Номер контроля</th>
        <th style="width: 180px; word-wrap: break-word">Дата осмотра</th>
        <th style="width: 180px; word-wrap: break-word">Длительность осмотра</th>
        <th style="width: 200px; word-wrap: break-word">Тип осмотра</th>
        <th style="width: 300px; word-wrap: break-word">Место осмотра</th>
        <th style="width: 120px; word-wrap: break-word">Табельный номер</th>
        <th style="width: 200px; word-wrap: break-word">ФИО работника</th>
        <th style="width: 60px; word-wrap: break-word">Пол</th>
        <th style="width: 160px; word-wrap: break-word">Дата рождения</th>
        <th style="width: 80px; word-wrap: break-word">t °C</th>
        <th style="width: 100px; word-wrap: break-word">Артериальное давление</th>
        <th style="width: 80px; word-wrap: break-word">ЧСС</th>
        <th style="width: 130px; word-wrap: break-word">Результат</th>
    </tr>
    {{#each preventionData as |val|}}
        <tr style="height: 450px;">
            <td >{{math @index '+' 1}}</td>
            <td >{{val.id}}</td>
            <td>{{val.date}}</td>
            <td>{{zeroIntHelper val.time.minutes}}:{{zeroIntHelper val.time.seconds}}</td>
            <td>{{val.type}}</td>
            <td>{{val.hostname}}</td>
            <td>{{val.number}}</td>
            <td>{{val.fio}}</td>
            <td>{{val.gender}}</td>
            <td>{{val.year}}</td>
            <td>{{dashHelper val.temperature}}</td>
            <td>{{pressureHelper val.pressure val.pressureupper}}</td>
            <td>{{dashHelper val.pulse}}</td>
            <td>{{allowHelper val.allow}}</td>
        </tr>
    {{/each}}
</table>
