<meta charset="utf-8">
{{#each pages as |page|}}
    <table data-name="{{key page 'sheetName'}}">
        <thead>
        <tr class="h-500">
            <th colspan="20" class="big-header">{{page.name}} {{orgName}}</th>
        </tr>
        </thead>
        <tr style="max-height: 450px; border-style: solid; text-align: right"> <!-- testing max-height is taken as row height + bolder -->
            <th style="min-width: 80px; border-style: solid; ">№ п/п</th> <!-- test min-width -->
            <th style="width: 180px;border-style: solid; word-wrap: break-word; text-align: right">Дата и время осмотра</th>
            <th style="width: 200px;border-style: solid; word-wrap: break-word; font-weight:bold">Тип осмотра</th>
            <th style="width: 300px;border-style: solid; word-wrap: break-word">Место осмотра</th>
            <th style="width: 120px;border-style: solid; word-wrap: break-word">Табельный номер</th>
            <th style="width: 200px;border-style: solid; word-wrap: break-word; font-size: 13px">ФИО работника</th>
            <th style="width: 120px;border-style: solid; word-wrap: break-word">Комментарий</th>
        </tr>
        {{#each [inspections] as |val|}}
            <tr style="height: 450px; border-style: solid; ">
                <td style="border-style: solid; vertical-align: middle;">{{math @index '+' 1}}</td>
                <td style="text-align: center;border-style: solid; vertical-align: middle;">{{val.date}}</td>
                <td style="text-align: right;border-style: solid">{{val.type}}</td>
                <td style="border-style: solid">{{val.hostname}}</td>
                <td style="border-style: solid">{{val.number}}</td>
                <td style="font-size: 20px">{{val.fio}}</td>
                <td style="text-align: left; word-wrap: break-word;">{{val.comment}}</td>
                {{#if val.graphicsignature}}
                    <td><img src="{{val.graphicsignature}}" alt="{{val.eds_driver}}" /></td>
                {{ else }}
                    <td>{{val.eds_driver}}</td>
                {{/if}}
            </tr>
        {{/each}}
        <tr style="border-inheritance-type: solid;">
            <td style="text-align: right">last line</td>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>no border</td>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{{summarize page}}}
        {{#if (isAfterBeforeSheet (key page 'sheetName'))}}
            <tr style="height: 500px">
                <td colspan="5" style="text-align: left; word-wrap: break-word; font-size: 10px;">*Н - при наличии признаков воздействия вредных и (или) опасных производственных факторов, состояний и заболеваний, препятствующих выполнению трудовых обязанностей, в том числе алкогольного, наркотического или иного токсического опьянения и остаточных явлений такого опьянения (с указанием этих признаков);
                </td>
            </tr>
            <tr style="height: 500px">
                <td colspan="5" style="text-align: left; word-wrap: break-word; font-size: 10px;">*О - при отсутствии признаков воздействия вредных и (или) опасных производственных факторов, состояний и заболеваний, препятствующих выполнению трудовых обязанностей, в том числе алкогольного, наркотического или иного токсического опьянения и остаточных явлений такого опьянения.
                </td>
            </tr>
        {{/if}}

    </table>
{{/each}}